Idea for MSCodeFunDo++.docx
RMDFinalSubmission.docx
YouTubeVideoLinks.docx
AndroidApp/DMApp/build.gradle
DMApp/donate/migrations/*
DMApp/db.sqlite3
DMApp/accounts/__pycache__/*
DMApp/donate/__pycache__/*
DMApp/managing/migrations/*
DMApp/managing/api/__pycache__/*
