Idea for MSCodeFunDo++.docx
RMDFinalSubmission.docx
YouTubeVideoLinks.docx
AndroidApp/DMApp/build.gradle
DMApp/donate/migrations/*
DMApp/db.sqlite3
DMApp/media/*
DMApp/*/migrations/
DMApp/*/__pycache__/
DMApp/*/*/__pycache__/
*.pyc