{% extends 'base_temp.html' %}

{% block one %}
    <h1>The following is the list of all the victims:</h1>
    <div class="victims">
		{% for victim in victims %}
			<img src="{{ victim.thumb.url }}">
			<h4>Name: {{ victim.name }}<br>
				Age: {{ victim.age }}	Gender: {{ victim.gender }}<br>
				Status: {{ victim.status }}<br>
				Present In: {{ victim.admitter }}
				Address: {{ victim.hospital_address }}
			</h4>
            <p>Entry Made On: {{ victim.date }}</p>
            
        {% endfor %}
    </div>
{% endblock %}
