{% extends 'base_temp.html' %}

{% block one %}
<center>
    <h1 id="detailhead">ABOUT US</h1>

<div class="row">
<img class="col-sm-4" style="max-width:20vh;max-height: 20vh" src="https://image.ibb.co/nNBxDA/Whats-App-Image-2018-03-26-at-6-59-03-PM.jpg" alt="Whats-App-Image-2018-03-26-at-6-59-03-PM" border="0">
<p id="details">
    <strong>Name:</strong> Akash Nair
    <br>
    <strong>Email:</strong> akash30121998@gmail.com
</p>

<img class="col-sm-4" style="max-width:20vh;max-height: 20vh" src="https://image.ibb.co/f9KjtA/Whats-App-Image-2018-10-26-at-7-47-21-PM.jpg" alt="Whats-App-Image-2018-10-26-at-7-47-21-PM" border="0">
<p id="details">
        <strong>Name:</strong> Saurabh Agarwala
        <br>
        <strong>Email:</strong> saur.agarwala@gmail.com
    </p>
<img class="col-sm-4" style="max-width:20vh;max-height: 17vh" src="https://image.ibb.co/jBpTLq/Whats-App-Image-2018-10-26-at-7-54-15-PM.jpg" alt="Whats-App-Image-2018-10-26-at-7-54-15-PM" border="0">
<p id="details">
        <strong>Name:</strong> Vaibhav G
        <br>
        <strong>Email:</strong> gvaibhav1734@gmail.com
    </p>
</div>
</center>
{% endblock %}