{% extends 'base_temp.html' %}

{% block one %}
    <h1 id="detailhead">E-Challan Payment</h1>
    <form action="{% url 'donate:challan' %}" class="ws-validate" method="POST">
    {% csrf_token %}                       
        <div class="form-row">
            {{ form.name }}
        </div>
        <div class="form-row">
            {{ form.amount }}</div>
        <br>
        <div class="form-row">
            <input class="btn btn-primary" type="submit" />
        </div>
    </form>
        <br>        
{% endblock %}