{% extends 'base_temp.html' %}

{% block one %}
<center>
    <h1 id="detailhead">Emergency Contact Numbers</h1>
</center>
<br><br>
<ul class="row" id="details" style="font-size:170%">
    <li class="col-sm-4"><strong>National Emergency Number:</strong><em> 112</em></li>
    <li class="col-sm-4"><strong>Police:</strong><em> 100</em></li>
    <li class="col-sm-4"><strong>Fire:</strong><em> 101</em></li>
    <li class="col-sm-4"><strong>Ambulance:</strong> <em>102</em></li>
    <li class="col-sm-4"><strong>Disaster Managemnt Services:</strong> <em>108</em></li>
    <li class="col-sm-4"><strong>Women Helpline:</strong><em> 1091</em></li>
    <li class="col-sm-4"><strong>Air Ambulance:</strong> <em>9540161344</em></li>
    <li class="col-sm-4"><strong>Earthquake/Flood/Disaster:</strong><em> 011-24363260</em></li>
    <li class="col-sm-4"><strong>Disaster Distress Helpline:</strong> <em>180098559990</em></li>
</ul>

<p id="detailp"><a href="http://indianhelpline.com/">Visit Here for More Numbers!</a></p>

{% endblock %}