{% extends 'base_temp.html' %}

{% block one %}
<center>
    <h1 id="detailhead">RMD Home</h1>
</center>

<p id="details" style="font-size:170%">
        This Web App focuses on the relief organizations and Hospitals who can use the application to record Victim details, help users with donation process, provide details on survival manuals and Emergency Contact Numbers
<br>
        The Android App focuses on the users and victims of natural disasters to locate themselves on an offline map of the region, SOS feature that allows them to contact a pre determined contact  and sends their current location as part of a message.
        Along with these key features, it also provides details on survival manuals and Emergency Contact Numbers.
</p>

{% endblock %}